/* .bodyTable,th,tr,td{
    border: 1px solid red;
} */

.bodyTable{
    max-width: var(--max-screen-size);
    margin: 0 auto;
    text-align: center;
}

.titleTable{
    margin: 20px;
}

.tableFrame{
    padding: 20px;
    width: max(350px, 80%);
    max-height: 700px;
    margin: 0 auto;
    font-size: 1.12rem;
    background-color: var(--tertiary-background-color);
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
    overflow: auto;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
}

.theader{
    border-bottom: 2px solid gray;
    padding: 10px;
}

.tableData{
    border-bottom: 2px solid lightgray;
    padding: 10px;
}
