:root {
  --height-navbar: 60px;
  --primary-background-color: #158cba;
  --secondary-background-color: #373a3c;
  --tertiary-background-color: #f6f6f6;
  --primary-text-color: white;
  --secundary-text-color: #117095;
  --max-screen-size: 1200px;
}

/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
